@media screen and (max-width: 900px){
    #navBar {
        padding-left: 10px;
        padding-right: 10px;
        .navbar__ul li {
            margin: 0;
        }
    }
    /*-----------AJUSTO ARTICULOS Y CONTENIDO PYTHON-----------*/
        #cards__content--python {
            flex-direction: column ;
            article {
                row-gap: 0px;
    
                a {
                    margin-top: 10px;
                }
            }
        }
}

@media screen and (max-width: 500px) {
    #navBar {
        .navbar__ul li {
            margin: 5px 3px;
        }
        a {
            font-size: 20px;
            width: 100%;
            padding: 2px 2px;
        }
    }
    /*-----------CORRIJO HEADER Y AJUSTO BOTONES-----------*/
    #header img {
        height: 80px;
    }
}